@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario:#F3F5FC;
    --color--secundario:#0A3871;
    --color-terciario:#000000;
    --color--cuaternario:#495057;

}

*{
    background: var(--color-primario);
    font-family:'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.logo{
    padding-top:0.6rem;
    margin-left:0.6rem;
    width: 10%;
}



main{
    display:flex;
    margin-bottom:3.1rem;
    margin-left: 5rem;
    
}

.text.area{
    border:none;
    color:var(--color--secundario);
    margin-top:5.6rem;
    text-transform: lowercase;
    color: var(--color--secundario);
}

::placeholder{color:var(--color--secundario);}

.text-area:focus{
    outline:none;
}

.texto__encriptado,.cifrado{
    resize: none;
    border: none;
    margin-top: 20px;
}

.cifrado {
    background-color: white; 
    background-image: url("/styles/Muñeco.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 60%; /* Ajusta el tamaño de la imagen de fondo */
    border: none;
    border-radius: 7px; 
    color: #495057;
    position: fixed;
    margin: 0 auto 100px; /* Centra el elemento horizontalmente y ajusta el margen inferior */
    padding: 2rem; /* Añade más espacio interno */
    padding-bottom: 4rem;
    margin-left: 4rem;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave y extendida */
    outline: none;
    transition: all 0.3s ease; /* Suave transición para cambios */
}


.cifrado:focus {
    border: 1px solid #007bff; /* Añade un borde azul al enfocar */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
}

.cifrado::placeholder{
    color: var(--color--cuaternario);
    opacity: 1;
    padding-top: 13rem;
    font-size: 13px;
    text-align: center;
    line-height: normal;
}

.texto__encriptado:focus {
    outline: none;           /* Elimina el reborde al hacer clic */
}

.botones{
    display:flex;
    margin-top:1.5rem;

}

.btn__encriptador{
    background-color: #0A3871;
    border:0.063rem solid #0A3871;
    border-radius: 0.6rem;
    color:white;
    cursor: pointer;
    height: 2rem;
    width: 8rem;
}

.btn__desencriptador{
    background: #D8DFE8;
    border:0.063rem solid #0A3871;
    border-radius: 0.6rem;
    color: var(--color--secundario);
    cursor: pointer;
    height: 2rem;
    margin-left: 2rem;
    width: 8rem;
}

.btn__copiado{
    border:0.063rem solid #0A3871;
    background: #D8DFE8;
    border-radius: 0.6rem;
    color:var(--color--secundario);
    cursor: pointer;
    height: 2rem;
    width: 8rem;
    position: absolute;
    margin-left: 200px;
    margin-top: 520px;
    
}

.condiciones__desencriptador{
    color:var(--color--cuaternario);
    font-size: 0.7rem;
}

.pie__autor{
    text-align: center;
    font-size: 8px;
    color:var(--color--cuaternario);
    font: 'Inter';
    margin-top: 100px;
}